/* This is a CSS comment */
body {
	padding: 20px 10px;
	font-family: Helvetica;
	max-width: 2000px;
	margin: 0 auto; /* The 0 refers to the top and bottom margins and the "auto" automatically */
	font-size: 1.2em;
}

ul{
  list-style-type: none; /* this removes the bullets that show up by default in unordered lists */
}

/* Table of Content*/
.TOC-lesson {
	font-size: 20px;
	line-height: 35px; /* each line of text should occupy 35 pixels of height (good for mobile usage and fat fingers) */
}

/* Ordered list style types*/
.ol-lower-alpha{
	list-style-type: lower-alpha;
}

.ol-lower-roman{
	list-style-type: lower-roman;
}

/*li{ 
  font-size: 20px;
  line-height: 40px;
} */

/* Headings */
h1{
  text-align: center;
  color: #294860;

}

h2{
  margin: 10px;

}

p {
	margin: 10px 0;

}

/* Highlight*/
.highlight-text{
	background-color: lightgrey;
	padding: 2px 5px;
	color: red;

}

/* footer */
footer{
  text-align: right;

}

/* lesson, concept-title, and description styling */
.lesson {
	background-color: #294860;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin: 10px auto;

}

.concept {
	background-color: #DFEAF1;
	padding: 4px 10px;
	margin: 10px;
	border-radius: 8px;
	color: black;
  border-width: 5px;
  border-style: solid;
  border-color: rosybrown;

}

.concept-title {
	font-size: 28px;
	margin: 8px;
	text-align: center;
	color: #294860;

}

.concept-description.line-height{
	line-height: 30px;

}

/* Page navigation button*/
.button{
  display: flex;
	justify-content: space-between;
  margin: 5%;

}

.button a{
  text-decoration: none;
  color: white;

}

.button a:hover{
  text-decoration: none;
  color: green;

}

.arrow-left{
  background-color: red;
  padding: 10px 25px;
  border: 2px solid;
  color: white;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.arrow-left:hover{
  background-color: white;
  color: red;

}

.arrow-right{
  background-color: red;
  padding: 10px 25px;
  border: 2px solid;
  color: white;
  font-size: 20px;
  margin-left: 60%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.arrow-right:hover{
  background-color: white;
  color: red;

}
span.code {
    font-family: Courier;
    background-color: #BBBBBB;
    padding: 2px 4px;
    font-weight: bold;
}
